
$black: #000000;

@font-face {
  $font-name: 'CircularStdMedium';
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Medium.otf');
}

.menu_embed {
	width: 80%;
	height: 800px
}
#dynamicGlyf {
	width: 125px;
	height: 125px;
}

#mainNav {
	font-family: "CircularStd";
	width: 100%;
	height: 65px;

	a {
		text-decoration: none;
		color: $black;
	}
}

#aboutSection {
	width: 100%;
	background-image: url('../assets/boards.jpg');
}
